/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1, h2, h3 {
    color: #333;
}
h1 {
    color: white;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* Highlight Styles */
.highlight {
    background-color: #ffc107;
    padding: 5px;
}

/* Animation Styles */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

/* Bible Verse Pop-up Styles */
.bible-verse-popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.bible-verse-popup-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.bible-verse-popup:hover .bible-verse-popup-content {
    display: block;
}

/* Customized Styles for Specific Elements */
header h1 {
    font-size: 2em;
}

header h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

/* Specific Page Styles */
/* Add specific styles for each page as needed */
